*~
.cvsignore
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/.deps/
bin/Makefile
bin/Makefile.in
bin/cartfit
bin/emu_galil
bin/emu_smartmotor
bin/gocfg
bin/gointerptest
bin/gokintest
bin/gomain
bin/gomain_galil
bin/gomain_smartmotor
bin/gomathtest
bin/gomotiontest
bin/gorun
bin/goscratchtest
bin/gosh
bin/gostepper
bin/gosteppercfg
bin/gotcl
bin/gotestmmavg
bin/gotestsh
bin/gotk
bin/gotrajtest
bin/igpsclient
bin/igpsserver
bin/inb
bin/outb
bin/rs274ngc
bin/sixdof
bin/taskmain
bin/tasksvr
bin/test_smartmotor
bin/toolmain
bin/toolmain_modbus
bin/tracker
bin/variates
config.log
config.status
config/compile
config/config.guess
config/config.h
config/config.h.in
config/config.sub
config/depcomp
config/install-sh
config/missing
config/stamp-h1
configure
etc/Makefile
etc/Makefile.in
lib/.deps/
lib/Makefile
lib/Makefile.in
lib/*.a
src/.deps
src/.dirstamp
src/Makefile
src/Makefile.in
src/*.o
ulapi_dir
